@font-face {
	font-family: "Heading";
	src: url("../../res/font/tsukihead.woff");
}
@font-face {
	font-family: "Paragraph";
	src: url("../../res/font/5x5.ttf");
}
@font-face{
    font-family: "RegularPix";
    src: url("../../res/font/12pt.ttf");
}
body {
    background-color:black;
    background-image:linear-gradient(to right, rgba(0, 0, 0, 0.502),rgba(0, 0, 0, 0)),
    linear-gradient(to left, rgba(0, 0, 0, 0.502),rgba(0, 0, 0, 0)),
    url(),
    linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0)),
    url(../../res/img/bgpostb.png);
    background-position-x:0,100%,100%,0, center;
    background-position-y:0,0,-100px,0, center;
    background-repeat:repeat;
    background-attachment: fixed;
    font-family: lucida console, Arial, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}
video {
    width: 48%    !important;
    height: auto   !important;
    border-radius: 5px;
}
h1, h5, p{
    margin:15px;
    padding:0 15px;
    color:rgb(198, 233, 255);
    text-shadow: #000000 0 0 5px,rgba(74, 219, 255, 0.706) 0 0 25px;

    
}
h1{
    font-family: Arial, "Heading";
    font-size:35px;
}
h5{
    font-family: Arial, "Paragraph";
    font-size:20px;
}
p {
    margin:10px;
    padding:0;
    font-family: Arial;
    font-size: 15px;
}
p a{
    color:#6767ff;
    transition: text-shadow 0.2s;
}
p a:hover{
    text-shadow: #000000 0 0 5px,rgb(255, 255, 255) 0 0 30px;
}


header{
    background-repeat:no-repeat;
    color:white;
    margin:30px 10px;
    padding:0px;
    text-align:left;
}
section:not(.spacing){
    background:rgba(0, 0, 0, 0.4);
    box-shadow:rgb(0, 0, 0) 0 0 1px;
    color:#fff;
    padding:10px;
    margin:6px max(calc( ( 100% - ( 700px + 10% ) ) / 2), 0px );
    display:block;
    flex-direction:row;
}
section:not(.spacing) h5{
    color:#fff;
    text-shadow:rgba(0, 119, 255, 0.548) 0 0 20px !important;
}
.header-head{
    padding:0px  max(calc( ( 100% - ( 900px + 10% ) ) / 2)) 20px;
    display: flex;
    align-items: center;
}
.logo a{
    background-image:url(/res/img/logo.png);
    background-repeat:no-repeat;
    display:inline-block;
    height:30px;
    text-indent: -10000px;
    width:180px;
}

.features figure{
    text-align:center;
}
.features figure img{
    box-shadow: rgba(24, 24, 24, 1) 0 0 5px;
}
figcaption {
    display: inline;
    caption-side: bottom;
    padding: 0 5px 5px;
}​
section div {
    width:100px;
    margin:auto;

}

header div {
    padding:0px;
    margin:0px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type:none;

}
.features {
    display: inline-block;
    margin:0;
    font-size: 10px;
}
li {
    display: inline-block;
    margin:0;
}

#page-container{
    position:relative;
    min-height:100vh;
}
#content-wrap{
    padding-top:50px;
    padding-bottom:60px;
}
#footer{
    background:black;
    color:white;
    position: absolute;
    bottom:0;
    width:100%;
}
.alt-logo{display: none;}
.pdf a{
    margin:10px;
    width:100%;
}
.pdf a img{
    margin:0px;
    width:100%;
}
/*#region NAV BAR*/
nav {
 
    background:linear-gradient(to right,rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.8));
    box-shadow:black 0 0 10px;
    margin:0px 0 0 0;
    width:100%;
    position:fixed;
    z-index: 1;

}
nav ul{
    margin:5px 10% 5px 10%;
}
nav ul li:not(.logo) a{
    color:#C4E7EB90;
    vertical-align: sub;
    padding:0px 7px 0px;
    margin:0px 0px 0px 0px;
    text-decoration:none;
    transition:text-shadow 0.2s,color 0.2s;

    
}
nav ul li:not(.logo) a:not(.mute){
    border-bottom:0px solid;

}
.mute:hover{
     cursor:pointer;

}
.mute{
    position: absolute;
    right: 15px;
}
nav ul li:not(.logo) a:hover{
    color:white;  
    text-shadow:#80f7ff 0 0 30px;
}
nav ul li:not(.logo) a:active{
    color:rgb(255, 226, 226) !important;  
    text-shadow:#ff80a6 0 0 30px;
}
.patreon a{
    color:#b4742b !important;
}
.patreon a:hover{
    color:#fff673 !important;
}
a:not([href]) {
    color:rgba(196, 231, 235, 0.251) !important;
}
.logo:hover{
    box-shadow:rgba(128, 246, 255, 0.31) 0 0 30px;
}
.logo{
    transition:box-shadow 0.2s,color 0.2s;
}
/*#endregion*/
h5 a{
    color:#6767ff;
    border-bottom:2px solid;
    padding:0 0 4px;
    transition: text-shadow 0.2s;
}
h5 a:hover{
    text-shadow: #000000 0 0 5px,rgb(255, 255, 255) 0 0 30px;
}
.secCloud h5 a{
    color:#ffb867;
}

.ulBand{
    border:0;
    padding:0;
}
.liBand{
    border:0;
    padding:0;
}

.bandcamp{
    margin:0;
    border: 0;
    width: 250px;
    height: 250px;
}
.bandcamp a{
    display:none;
}

footer{
    padding:10px 0;
}
a.button{
    padding:0px;
    margin:20px;
    display:inline-block;
    color:rgb(198, 233, 255);
    text-shadow: #000000 0 0 5px,rgba(74, 219, 255, 0.706) 0 0 25px;
    font-family: Arial;
    font-size: 15px;
    
}
a.button:hover{
    color:white;  
    text-shadow:#80f7ff 0 0 30px;
}
a.button div img{
    margin:0 7px;
    -webkit-transform: translateY(25%);
    -ms-transform: translateY(25%);
    transform: translateY(25%);
}
a.button:active{
    color:rgb(255, 226, 226) !important;  
    text-shadow:#ff80a6 0 0 30px;
}a.button div{
    width:200px;
}
