@font-face {
	font-family: "Head";
	src: url("./res/font/tsukihead.woff");
}
@font-face {
    font-family: "Paragraph";
    src: url("./res/font/12pt.ttf");
}

.user_links, .footer_inner{
    text-shadow:#ff2d81 0 0 20px;

}
.
.user_links span a{
    font-family: "Head" !important;
    font-size: 14pt;
    transition:text-shadow 0.2s, color 0.2s;
}
p{
    font-family: "Paragraph";
    font-size: 12pt;
}
.footer_inner a{    
    transition:text-shadow 0.2s, color 0.2s;
}

.user_links span a:hover, .footer_inner a:hover{
    color:#fff;
    text-shadow:#ffb5d2 0 0 15px;
}
.game_cell{
    background:rgba(0, 0, 0, 0.624);
padding:4px;
border-radius:3px;
}
.game_cell_data{
    font-family: "Paragraph";
    margin:5px !important;
}
.game_title{
    font-family: "Head" !important;

}
body {

    background-image:linear-gradient(rgba(0, 0, 0, 0.059),rgba(0, 0, 0, 0.059)),url("https://maruseu.github.io/res/img/bgpost.png");
    background-size:cover;
    margin: 0;
    padding: 0;
    background-position:center;
}
.user_page_wrap{
    background-image:linear-gradient(rgba(0, 0, 0, 0.561),rgba(0, 0, 0, 0.561));
    background-size:100%;
    background-repeat:repeat-y;
    background-position:center;

}

/*
html body::before {
	content: "";
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	width: calc(100% + 32px);
	height: calc(100% + 32px);
	background-image: url("https://systemspace.link/res/img/scanlines.png");
	background-position: 0 0;
	background-repeat: repeat;
	z-index: 10000000;
	animation: ScanlineAnimationLeft 2s linear infinite;
	pointer-events: none;
	opacity: 0.2;
}

html body::after {
	content: "";
	display: block;
	position: fixed;
	left: -32px;
	top: 0;
	width: calc(100% + 32px);
	height: calc(100% + 32px);
	background-image: url("https://systemspace.link/res/img/scanlines.png");
	background-position: 0 0;
	background-repeat: repeat;
	z-index: 10000000;
	animation: ScanlineAnimationRight 0.4s linear infinite;
	pointer-events: none;
	opacity: 0.2;
}

@keyframes ScanlineAnimationLeft {
	0% {
		transform: translateX(0px) translateY(0px);
	}
	100% {
		transform: translateX(-32px) translateY(-32px);
	}
}

@keyframes ScanlineAnimationRight {
	0% {
		transform: translateX(0px) translateY(0px);
	}
	100% {
		transform: translateX(32px) translateY(-32px);
	}
}//*/
